trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - assets/demo-3-tooling
    exclude:
    - README.md

variables:
  location: West Europe

# Use build definition name for build/release numbers
name: $(BuildDefinitionName).$(Year:yy)$(DayOfYear)$(rev:.r)

# Call the build process template
stages:
- stage: Build
  jobs:
  - job: Validate
    displayName: Validate ARM Templates
    continueOnError: false
    pool:
      name: 'Azure pipelines'
      vmImage: windows-2019

    workspace:
      clean: all

    steps:
    - task: AzureResourceGroupDeployment@2
      name: Validate
      inputs:
        azureSubscription: Visual Studio Enterprise
        action: 'Create Or Update Resource Group'
        resourceGroupName: rg-arm-in-a-serverless-world
        location: $(location)
        templateLocation: 'Linked artifact'
        csmFile: assets/demo-3-tooling/azuredeploy.json
        deploymentMode: 'Validation'