name: Deploy ARM Templates

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/main.yml"
      - "assets/demo-3-deployment/**.json"
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags'
        required: false

jobs:
  deploy-arm-templates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@master

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ARM Templates
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: rg-arm-in-a-serverless-world
          template: ./assets/demo-3-deployment/azuredeploy.json
          parameters: location=westeurope

      - name: Deploy ARM Templates 2
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az deployment group create --resource-group rg-arm-in-a-serverless-world --template-file ./assets/demo-3-deployment/azuredeploy.json